


$FuturaPT-Demi : 'FuturaPT-Demi';
$FuturaPT-Light : 'FuturaPT-Light';
$Futura-CondensedMedium : 'Futura-CondensedMedium';
$FuturaPT-ExtraBold : 'FuturaPT-ExtraBold';



$Montserrat: 'Montserrat', sans-serif;