@use "../utils/index"as *;

.hero__video {
  .hero__video_btn {
    margin-right: 22px;
  }
}

.hero {
  position: relative;
  .hero__element {
    width: 390px;
    position: absolute;
    left: 52.9%;
    translate: -50%;
    top: 30px;
  }


}


.people__head {
  margin: 0 0 23px;
  font-family: $FuturaPT-ExtraBold;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -2.25px;
  text-align: center;
  color: #111a2a;
}

.people__content {
  max-width: 731px;
  margin: 23px auto 30px auto;
  font-family: $FuturaPT-Light;
  font-size: 21px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.26px;
  text-align: center;
  color: #6b778d;
}

.Line-3 {
  width: 856px;
  height: 1px;
  margin: 73px 438px 55.3px;
  border: solid 1px rgba(151, 151, 151, 0.26);
}


.revolution {
  // height: 614px;
  // border: 1px solid #000;
}

.revolution__head {
  margin: 0 0 22px;
  font-family: $FuturaPT-Light;
  font-size: 48px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: -2px;
  color: #201a1c;
}

.revolution__content {
  max-width: 455px;

  margin: 22px 15px 61px 0;
  font-family: $FuturaPT-Light;
  font-size: 21px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.26px;
  color: #6b778d;
}

.revolution__img {
  width: 600px;

  img {
    margin-top: -90px;
  }
}

.revolution.drone {
  height: 614px;
}

.revolution__img.drone {
  width: 100%;

  img {
    margin-top: 0px;
    width: 100%;
    scale: 1.2;
  }
}



.blocks {
  max-width: 1161.3px;
  height: 600px;
  padding: 56.1px 133.1px 60.1px 123px;
  border-radius: 75px;
  background-color: #788bff;
}


.blocks_btn {
  .hero__btn {
    width: 277px;
    height: 45px;
    margin: 33.4px 0 71.9px 0;
    padding: 10px 24px 11px 20px;
    border-radius: 100px;
    box-shadow: 0 28px 43px 0 rgba(0, 0, 0, 0.11);
    background-color: #fffbfa;
  }

  img {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
  }
}
.icon__dark {
  fill: black;
  svg {
    fill: black !important;
  }
}

.blocks_head {
  font-family: $FuturaPT-Demi;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2px;
  color: #fff;
  padding: 13.3px 0 0px 0px;
  margin-bottom: 10px;
}

.blocks_small {
  width: 274px;
  height: 27px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: 1px;
  color: #fffbfa;
  margin-bottom: 7.7px;
}

.blocks_text {
  margin: 5.1px 100.8px 33.4px 0px;
  font-family: $FuturaPT-Light;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #e0e0ff;
}




.blocks_card {
  width: 100%;
  height: 100%;
  padding: 19.4px 19.4px 27.4px;
  border-radius: 12px;
  box-shadow: 8px 8px 24px 0 rgba(9, 14, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 14, 20, 0.4);
  background-color: #fffbfa;



  .blocks_card_img {
    width: 77.4px;
    height: 77.4px;
    margin: 0 0 0 0px;
    padding: 11.6px 11.5px 11.8px 11.9px;
    border-radius: 48px;
    background-color: #fff;
  }

  .blocks_card_head {
    margin: 0 0 3.9px;
    font-family: $Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: -0.36px;
    color: #111a2a;
  }

  .blocks_card_text {
    margin: 3.9px 0 0;
    font-family: $Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111a2a;
  }
}



.battle {
  .people__content {
    max-width: 731px;
  }
}



.hero__btn.battle.blue {
  width: 174px;
  height: 45px;
  // margin: 55px 16px 51.4px 24px;
  padding: 10px 13.4px 11px 19px;
  border-radius: 100px;
  box-shadow: 0 28px 43px 0 rgba(0, 0, 0, 0.11);
  background-color: #788bff;


  margin: 4px 0 5px 10.6px;
  font-family: $FuturaPT-Light;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.12px;
  color: #fffbfa;

  svg {
    width: 24px;
    height: 24px;
    margin: 0 10.6px 0 0;
  }
}


.hero__btn.architecture {
  width: 230px;
  height: 45px;
  background-color: #fffbfa;

  svg {
    width: 24px;
    height: 24px;
    margin: 0 10.6px 0 0;
  }
}






.people__head_img {
  max-width: 820px;
}

.a-growing-ecosystem {
  max-width: 388px;
  margin: 0 34px 10px 33px;
  font-family: $FuturaPT-Light;
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: -2px;
  text-align: center;
  color: #201a1c;
}

.BitWeb-is-enabling-a {
  max-width: 455px;
  height: 108px;
  margin: 10px auto 27px;
  font-family: $FuturaPT-Light;
  font-size: 21px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.26px;
  text-align: center;
  color: #6b778d;
}

.more-than-a-coin {
  margin: 87px auto 19px;
  font-family: $FuturaPT-ExtraBold;
  font-size: 54px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -2.25px;
  text-align: center;
  color: #111a2a;
}

.The-B1T-token-is-mor {
  margin: 19px auto 66px;
  max-width: 731px;
  font-family: $FuturaPT-Light;
  font-size: 21px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.26px;
  text-align: center;
  color: #6b778d;
  padding: 0px 40px;
}

.hero__btns.token {
  margin-bottom: 83px;
}

.blocks.bringing {
  position: relative;
  overflow: hidden;
  box-shadow: -11px 2px 91px 0 rgba(17, 26, 42, 0.06);
  background-color: #111a2a;
  // padding: 91px 120px 0 0;  
  padding: 91px 75.3px 0 0px;
  width: 1161.3px;
  height: 600px;
  margin-top: 50px;

  p {
    color: #fffbfa;
  }

  .bringing__img {
    max-width: 123%;
  }

  .hero__btn.bringing {
    width: fit-content;
    height: 45px;
    margin: 34.4px 0px 154.5px 0px;

    border-radius: 100px;
    box-shadow: 0 28px 43px 0 rgba(0, 0, 0, 0.11);
    background-color: #fffbfa;
  }
}
.existence {
  margin-bottom: 30px;
}

footer {
  height: 1155px;
  background: transparent;
  background-image: url(../../images/footer_back.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 154px 0 0;

  .footer_logo {
    width: 37px;
  }

  .its-a-bit-of-a-revo {
    margin: 6px 0 21px 0px;
    font-family: $FuturaPT-ExtraBold;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.78px;
    color: #111a2a;
  }

  .Line-4 {
    width: 202px;
    height: 1px;
    margin: 21px 60px 0px 0px;
    border: solid 1px rgba(151, 151, 151, 0.35);
  }

  .Web-40,
  .The-Multichain {
    margin: 75px 0 9px 0px;
    font-family: $FuturaPT-Light;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(29, 53, 87, 0.33);
  }

  .The-Multichain {
    margin-top: 17px;
  }

  .Line-5 {
    width: calc(100% - 0px);
    height: 1px;
    margin: 2px 50px 12px 0px;
    border: solid 1px #979797;
  }

  .footer__menu {
    margin: 0;
    padding: 0;
  }

  .footer__menu li a {
    margin: 4px 0 6px 17px;
    font-family: $FuturaPT-Light;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111a2a;
  }

  .down__menu {
    margin-top: 28px;
  }

  .footer__tap {
    margin-top: 103px;
  }

  .Line-6 {
    width: 2px;
    height: 533px;
    margin: 55px 50px 0px 50px;
    background: rgba(151, 151, 151, 0.24);
  }

  .copyright,
  .copyright__link li a {
    font-family: $FuturaPT-Light;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.38px;
    color: #111a2a;
  }

  .copyright__link li a {
    padding-right: 5px;

    span {
      padding-left: 15px;
    }
  }
}

.wrapperMain {
  overflow: hidden;
}



.blocks_cards_layout {

  .blockCst {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
  }
}


.hero_cut {
  overflow: hidden;
  width: 100% !important;
}

.rocketIMg {
  position: absolute;
  right: -128px;
  bottom: 80%;
  width: 460px;
}

.people {
  position: relative;

  .container {
    position: relative;
  }
}

#block5 {
  overflow: inherit;
}


.people {
  &.relative {
    .contentBox {
      position: relative;
      max-width: 731px;
      margin: 0 auto;

      .coinImg {
        position: absolute;
        left: -107px;
        top: 250px;
      }
    }
  }
}


.planet{
  overflow: inherit;
  .col{
    padding-left: 180px;
    position: relative;
    .planetImg {
      position: absolute;
      left: 57px;
      top: 0;
    }
  }
}

.people.relative .contentBox .coinImg {
	position: absolute;
	// left: -35px;
	// top: 232px;
	max-width: 199px;
}

.dropdown.mega {
	z-index: 3;
}
.dropdown.mega .dropdown-toggle::after {
	content:none !important;
}
.dropdown.mega .dropdown-toggle.nav-link.show {
    // width: 135px;
    height: fit-content;
    // margin: 27px 45px 46.5px 148px;
    // padding: 16px 43px 35px 48px;
    // padding-top: 16px;
    // padding-bottom: 16px;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    box-shadow: 1px -40px 33px 1px rgba(120, 139, 255, 0.09);
    background-color: #fffbfa;
    color: #8bd7d2;

}
.dropdown.mega  .dropdown-menu{
    width: 849px;
    height: 421px;
    // margin: 3px 10px 84px 27px;
    padding: 48px 0 0 31px;
    border-radius: 23px;
    box-shadow: -33px 22px 56px 0 rgba(0, 0, 0, 0.2);
    background-color: #fffbfa;
    translate: -50%;
    border: none;

    background-image: url(../images/Shape_04.webp);
    background-size: 50%;
    background-position: right bottom;
    background-repeat: no-repeat;
    .Rectangle {
      width: 256px;
      height: 156px;
      margin: 0 16px 10px 0;
      padding: 9px 7px 9px 15px;
      border-radius: 8px;
      box-shadow: 5px 7px 2px 4px rgba(230, 230, 232, 0.17);
      background-color: #fffbfa;

&:hover{
  background: #788bff;
  transition: background-color 0.5s ease;
  *,svg {
  transition: color 0.6s ease;

  color: #ffffff;
  fill: #8bd7d2;
  }
}
    }
    .Learn-About-BitWebs {
      width: 203px;
      height: 64px;
      margin: 8px 31px 0px 0;
      font-family: $FuturaPT-Demi;
      font-size: 22px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.95;
      letter-spacing: -0.92px;
      color: #788bff;
      position: relative;
      &:hover {
        
      }
      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 10px;
          width: 168px;
          border: solid 1px #fffbfa;
      }
    }
    .Explore-BitWebs-arc {
      font-family: $FuturaPT-Light;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.82px;
      color: #788bff;
      width: 174px;
      
    }
    .Oval {
      width: 38px;
      height: 38px;
      margin: 28px 7px 9px 22px;
      padding: 0px;
      border-radius: 50%;
      border: solid 1px rgba(151, 151, 151, 0.17);
      background-color: #fffbfa;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: #788bff;
      }
    }
    .Developer-Docs-Telem {
      width: 203px;
      height: 99px;
      margin: 0 0 57px 18px;
      font-family: $FuturaPT-Demi;
      font-size: 22px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.92px;
      color: rgba(17, 26, 42, 0.15) !important;
    }
    
}

.navbar.bottom {
  .dropdown-toggle.nav-link.bulid {
      width: 135px;
      padding: 16px 0 16px 0;
      margin-right: 0 !important;
      + .dropdown-menu{
        translate: -47%;
      }
  }
  .dropdown-toggle.nav-link.web {
      width: 215px;
      padding: 16px 0 16px 0;
      margin-right: 0 !important;
      + .dropdown-menu{
        translate: -20%;
      }
  }
  .dropdown-toggle.nav-link.ecosystem {
    width: 158px;
    padding: 16px 0 16px 0;
    margin-right: 0 !important;
    + .dropdown-menu{
      translate: -58%;
    }
  }
  .dropdown-toggle.nav-link.dao {
    width: 109px;
    padding: 16px 0 16px 0;
    margin-right: 0 !important;
    + .dropdown-menu{
      translate: -76%;
    }
  }
  
}
.h__mega_card_tittle {
  height: 40px !important;
}