@use "../utils/index"as *;



@media (max-width:1400px) {
    .revolution__img {
        width: 100%;
    }

    .hero__card,
    .hero__card.active {
        width: 242px;
    }

    footer {
        padding-top: 70px;
    }

    footer .Line-6 {
        margin: 55px 15px 0 15px;
    }

    footer .footer__menu li a {
        margin-left: 0;
    }

    .rocketIMg {
        right: -72px;
        bottom: 80%;
        max-width: 362px;
    }
    .navbar-nav .nav-item .nav-link, header .navbar.top .nav-item .nav-link, header .navbar.bottom .nav-item .nav-link {
        margin: 0 30px 0 0;
    }
    .planet .col {
        padding-left: 250px;
    }
    .planet .col .planetImg {
        position: absolute;
        left: 10px;
        top: 0;
    }
    .people.planet {
        margin-bottom: 75px;

    }
}

@media (max-width:1250px) {
    .wrapper {
        max-width: 940px;
    }

    .navbar-nav .nav-item .nav-link,
    header .navbar.top .nav-item .nav-link,
    header .navbar.bottom .nav-item .nav-link {
        margin: 0 30px 0 0;
    }

}

@media (max-width:1199px) {
    .hero {
        padding-bottom: 17.5vw;
    }

    header .navbar.top .nav-item .nav-link,
    header .navbar.bottom .nav-item .nav-link {
        margin: 0 0px 0 0;
    }

    .revolution__head {
        br {
            display: none;
        }

        font-size: 44px;
    }

    .revolution__content {
        margin: 22px 15px 40px 0;
    }

    .blocks {
        max-width: 1044px;
        padding: 56.1px 85px 60.1px 85px;
    }

    .revolution.drone .hero__btns {
        margin-bottom: 40px;
    }

    .revolution__img.drone {
        width: 70%;
        margin: auto;
    }

    .revolution.drone {
        height: auto;
    }

    .more-than-a-coin {
        width: auto;
        height: auto;
    }

    .blocks.bringing .bringing__img {
        width: 60%;
    }

    .blocks.bringing {
        padding: 56.1px 80px 60.1px 65px;
    }

    footer .Line-5 {
        width: calc(100% - 30px);
    }

    footer {
        height: auto;
    }

    .footer__tap {
        padding-bottom: 40px;
    }

    .hero__head {
        font-size: 44px;
    }

    .hero {
        padding-top: 70px;
    }

    .hero__card,
    .hero__card.active {
        width: 200px;
        margin: 38.7px 20px 0 0;

    }

    .revolution__head {
        padding-top: 50px;
    }

    .revolution__img.drone {
        margin-top: -100px;
    }

    .revolution__content {
        font-size: 18px;
    }

    .people__head {
        font-size: 44px;
    }

    .footer__tap ul {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }

    .rocketIMg {
        right: -60px;
        bottom: 100%;
        max-width: 260px;
    }
    .planet .col .planetImg img{
        max-width: 300px;
    }
    .planet .col {
        padding-left: 234px;
        position: relative;
    }
    .planet .col .planetImg {
        position: absolute;
        left: 0;
        top: 50px;
    }
    .navbar.bottom .dropdown-toggle.nav-link.web {
        width: 165px;
    }
    .navbar.bottom .dropdown-toggle.nav-link.bulid {
        width: 100px;
    }
    .navbar.bottom .dropdown-toggle.nav-link.ecosystem {
        width: 130px;
    }
    .navbar.bottom .dropdown-toggle.nav-link.dao {
        width: 75px;
    }
    .blocks.bringing .bringing__img {
        max-width: 55%;
        position: absolute;
        bottom: 0;
        right: 1%;
    }
    .blocks.bringing {
        width: 100%;
    }
}




@media (max-width:1043px) {
    .blocks_cards_layout .blocks_card:nth-child(2n+1) {
        margin-right: 0;
    }

    .blocks_cards_layout {
        justify-content: space-between !important;
    }

    .blocks {
        max-width: 1044px;
        padding: 56.1px 75px 60.1px 75px;
    }
}

@media (max-width:991px) {
    .hero .hero__img{
        margin: 0 auto;
    }
    header {
        background: transparent;
        // box-shadow: rgba(149, 157, 165, 0.047) 0px 8px 24px;

        svg {
            background: transparent;
            filter: drop-shadow(0px 35px 18px #bebebe95);
        }
    }

    .hero {
        margin-top: 86px;
    }

    header .navbar.bottom {
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
        >.container-lg {
            padding: 0;
            
        }

        .container-fluid.wrapper {
            background-color: #fffbfa;
        }

        .wrapper {
            max-width: 100%;
            padding: 0;
        }

        .navbar-brand {
            padding: 19px 30px !important;
            display: inline-block;
            box-sizing: content-box;

            margin: 0;
        }

        .navbar-toggler {
            margin: 19px 30px !important;
        }

        .navbar-nav .nav-item .nav-link,
        header .navbar.top .nav-item .nav-link,
        header .navbar.bottom .nav-item .nav-link {
            margin: 0;
        }

        .navbar-nav {
            justify-content: center;
        }

        .navbar-collapse {
            .nav-item {
                width: 100%;
                text-align: center;
                border-bottom: solid 1px rgba(151, 151, 151, 0.19);
            }

            .nav-item.mobo_none {
                display: none;
            }

            .nav-item.get {
                display: none;
            }

            .navbar-nav .nav-item .nav-link,
            header .navbar.top .nav-item .nav-link,
            header .navbar.bottom .nav-item .nav-link {
                font-size: 18px;
                color: rgba(17, 26, 42, 0.8);
            }
            .dropdown.mega .dropdown-toggle.nav-link.show {
                background-color: transparent;
                color: #8bd7d2;
                box-shadow: none;
            }
            .dropdown.mega {
                z-index: 3;
                display: flex;
                justify-content: center;
                width: 100%;
                // height: fit-content;
                flex-wrap: wrap;
            translate: 0% !important;
            .dropdown-menu {
                width: 90% !important;
                height: 350px !important;
                overflow: scroll;
                // background-color: red;
                padding: 48px 0 0 31px;
                border-radius: 23px;
                translate: -50%;
                padding-top: 10px;
                padding-bottom: 10px;
                .d-flex {
                    flex-wrap: wrap;
                }
            }
             .dropdown-menu {
                // position: absolute;
                // z-index: 999;
                // top: 0;
                width: 90% !important;
                height: fit-content;
                padding: 16px 0 0 20px;
                border-radius: 13px;
                .Rectangle {
                    width: 220px;
                    height: fit-content;
                    margin: 0 11px 10px 0;
                    padding: 9px 7px 9px 15px;
                    border-radius: 8px;
                    box-shadow: 5px 7px 2px 4px rgba(230, 230, 232, 0.17);
                }
                .Learn-About-BitWebs {
                    width: 175px;
                    margin: 0px 21px 0px 0;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: -0.92px;
                    height: 35px;
                }
                .Explore-BitWebs-arc {
                    font-size: 13px;
                    width: 175px;
                }
                .Developer-Docs-Telem {
                    width: 203px;
                    height: fit-content;
                    margin: 0 0 0px 18px;
                    font-size: 22px;
                    letter-spacing: -0.92px;
                }
            }

            }
            .dropdown-toggle.nav-link.web + .dropdown-menu ,
            .dropdown-toggle.nav-link.ecosystem  + .dropdown-menu ,
            .dropdown-toggle.nav-link.bulid  + .dropdown-menu {
                translate: 0%;
            }
            
        }

        .collapse.navbar-collapse {
            position: relative;
            z-index: 2;
            // height: 70vh;
            overflow: scroll;
            background-color: #fffbfa;
        }

        .sub_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            border-top: 2px solid #000;
            width: calc(100% - 41px);
            margin: auto;
            margin-top: 42px;
            margin-bottom: 8px;
            padding-top: 5px;
            padding-bottom: 50px;

            .nav-item {
                width: 33%;
            }

            .nav-link {
                font-family: $FuturaPT-Demi;
                font-size: 15px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.2;
                letter-spacing: -0.62px;
                text-align: start;
                color: #111a2a;
            }
        }

        .waw {
            position: absolute;
            top: 90%;
            left: 0;
            width: 100%;
            z-index: -1;
        }

    }

    .blocks {
        height: auto;
    }

    .blocks_cards_layout .blocks_card {
        margin-right: 20px !important;
    }

    .blocks_cards_layout {
        justify-content: center !important;
    }

    .people__head {
        br {
            display: none;
        }
    }

    .revolution__head {
        padding-top: 30px;
    }

    footer {
        padding: 70px 0 0;
    }

    .hero {
        padding-top: 40px;
    }

    .hero__head,
    .hero .hero__text {
        text-align: center;
    }

    .hero__btns {
        justify-content: center;
    }

    .hero__video {
        justify-content: center;
    }

    .hero .hero__divider {
        margin: 50px auto;
    }

    .revolution__img img {
        margin-top: 0;
    }

    .revolution__head {
        font-size: 34px;
    }

    .revolution__img.drone {
        margin-bottom: 60px;
    }

    .revolution__content {
        text-align: center;
        margin: 22px auto;
    }

    .revolution__head {
        text-align: center;
    }

    .blocks.bringing .bringing__img {
        position: relative;
        width: 100%;
    }

    .blocks.bringing {
        padding-bottom: 0;
    }

    .blocks_btn {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blocks_head {
        text-align: center;
    }

    .more-than-a-coin {
        font-size: 44px;
    }

    .blocks_text {
        text-align: center;
        margin: 20px auto;
    }

    .blocks_small {
        margin: 0 auto 7px;
        display: block;
        text-align: center;
    }

    .blocks_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blocks_btn .hero__btn {
        margin: 30px auto;
    }

    .revolution__img.drone img {
        scale: 1;
    }
    .hero .hero__img{
        text-align: center;
    }
    .people.relative .contentBox .coinImg {
        position: absolute;
        left: -35px;
        top: 232px;
        max-width: 150px;
    }
    .revolution__img.drone {
        margin-top: -46px;
    }
 
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    header .navbar.bottom .navbar-collapse .dropdown.mega .dropdown-menu .Learn-About-BitWebs
 {
        height: 53px !important;
    }
}

@media(max-width:767px) {
    .container {
        padding: 0 30px;
    }

    .revolution__img.drone {
        margin-top: -23px;
    }

    header .navbar.top {
        background: transparent;
    }

    .hero {
        padding: 50px 0 50px!important;
        overflow: hidden;
        min-height: auto;
        flex-direction: column;
    }

    .hero__img {
        position: relative;
        // left: -106px;
        max-width: 100%;
        margin: 0 auto;
    }
    .hero__element {
        width: 300px;
    }

    .hero__head {
        margin: 23px 0 20px;
        font-size: 60px;
        line-height: 59px;
        line-height: 1;
        font-family: $FuturaPT-ExtraBold;
    }

    .hero .hero__text {
        font-size: 18px;
        font-family: $FuturaPT-Light;
        line-height: 1.5;
        letter-spacing: -0.23px;
        text-align: center;
        margin-bottom: 24px;
    }

    .hero__btn span img {
        height: 22px;
        width: 22px;
    }

    .hero__btns {
        flex-direction: column;
        grid-gap: 0;
    }

    .hero__btns a {
        font-size: 14px;
        width: 100%;
        max-width: 317px;
        height: 78px;
        margin: 0 0 15px;
    }

    .hero_cut,
    .hero__video,
    .hero .hero__divider {
        display: none !important;
    }

    .arrowSection {
        margin-top: auto;
        margin-bottom: 10px;
    }

    .hero .arrowSection {
        margin-top: 10px;
    }

    header .navbar.bottom .navbar-brand {
        padding: 0;
    }

    header .navbar.bottom .navbar-toggler {
        margin: 19px 0;
    }

    .people__team_img {

        max-width: 608px;
        width: 608px !important;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
    }

    .revolution.drone,
    #block4,
    .revolution,
    .people {
        overflow: hidden;
        // min-height: 100vh;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .people .container {
        padding: 0 13px;
    }

    .people__head {
        font-size: 32px;
        letter-spacing: -1.33px;
        margin-bottom: 10px;
    }

    .people__content {
        font-size: 18px;
        letter-spacing: -0.01em;
        line-height: 27px;
        margin: 10px 0;
        padding: 0 18px;

    }

    .revolution__head {
        letter-spacing: -1.33px;
        line-height: 41px;
    }

    .revolution__img img {
        max-width: 315px;
        margin: 0 auto;
    }

    .revolution {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #block4 {
        padding:50px 12px;
    }

    .blocks {
        border-radius: 33px;
        padding: 22px 20px 13px;
    }

    .blocks_small {
        height: auto;
        font-size: 13px;
        line-height: 1.85;
        letter-spacing: 1px;
    }

    .blocks_head {
        font-size: 41px;
        line-height: 1;
        letter-spacing: -1.71px;
    }

    .blocks_text {
        font-size: 18px;
        line-height: 1.56;
    }

    .blocks_btn .hero__btn {
        margin: 0 auto;
    }

    .blocks {
        margin-bottom: 66px;
    }

    .blocks_card {
        text-align: center;
        padding: 0 24px 24px;
    }

    .blocks_card .blocks_card_img img {
        margin-top: -22px;

    }

    .blocks_card .blocks_card_img {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        height: 54px;
        width: 54px;
        margin-bottom: 0;
    }

    .blocks_card .blocks_card_text {
        font-size: 14px;
        max-width: 200px;
        margin: 9px auto 0;
    }

    .relativeIq {
        position: relative;
    }

    .relativeIq .arrowRight {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%, -50%);
    }

    .blocks_btn .hero__btn {
        height: 78px;
        font-size: 14px;
    }

    .rocketIMg {
        position: relative;
        bottom: auto;
        margin-bottom: 14px;
    }

    #block5 {
        padding: 30px 0;
    }

    #block5 .container {
        padding: 0 26px;
    }

    .hero__btn.architecture,
    .hero__btn.battle.blue {
        max-width: 317px;
        width: 100%;
        height: 78px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .hero__btn.battle.blue svg path {
        fill: #fff;
    }

    .revolution__img.drone {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .container.shape {
        padding: 0;
    }

    .more-than-a-coin,
    .a-growing-ecosystem {
        font-size: 32px;
        line-height: 1.09;
        letter-spacing: -1.33px;
        font-family: $FuturaPT-ExtraBold;
    }

    .BitWeb-is-enabling-a {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: -0.23px;
        margin: 10px auto 15px;


    }

    .more-than-a-coin {
        margin: 42px 0 19px;
    }

    .The-B1T-token-is-mor {
        margin: 0 0 15px;
        font-size: 18px;
    }

    .blocks.bringing {
        padding: 40px 20px 0;
    }

    .blocks_head {
        padding: 0;
        font-family: $FuturaPT-ExtraBold;
        font-size: 31px;
    }

    .blocks_head br {
        display: none;
    }

    .blocks.bringing {
        margin-bottom: 18px;
    }

    .planet .more-than-a-coin {
        margin: 42px auto 19px !important;
        max-width: 224px;
    }

    .planet .The-B1T-token-is-mor {
        margin-bottom: 41px !important;
    }

    footer {
        padding: 45px 0;
    }

    footer .Line-4 {
        display: none;
    }

    footer .Web-40,
    footer .The-Multichain {
        margin: 12px 0;
    }

    footer .its-a-bit-of-a-revo {
        margin-bottom: 0;
        padding-bottom: 17px;
        border-bottom: solid 1px rgba(151, 151, 151, 0.35);

    }

    footer .footer__tap {
        margin-top: 50px;
    }

    footer .copyright__link li a span {
        padding-left: 0px;
    }

    footer .copyright,
    footer .copyright__link li a {
        font-size: 10px;
    }

    footer .footer__tap {
        flex-direction: column-reverse;
        padding-bottom: 0;
    }

    .footer__tap ul {
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    .hero .hero__img{
        margin: 0;
        width: 100%;
    }
    
    #block2{
        padding-top: 0;
    }
    .people.relative .contentBox .coinImg ,
    .planet .col .planetImg {
        position: static;
        max-width: auto;
    }
    .planet .col{
        padding-left: 0;
    }
    
.revolution__head {
    font-family: $FuturaPT-ExtraBold;
}

.dropdown-menu {
    .d-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
}
}

@media(max-width:427px){
    .hero__element {
        width: 250px !important;
        left: 18% !important;
    }
    .hero__head{
        font-size: 41px;
    }
    .hero__btns a{
        height: 56px !important;
        justify-content: center;
        

        
    }

}